<html>
  <head>
    <title>iBM Change Settings</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
  </head>
  <body>
    <ul id="menu">
      <div id="name">{{name}}</div>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/home">Home</a></li>
    </ul>
    <form method="post">
      Current Password<b>(Must be entered to make changes)</b>: <input type="password" name="oldpw"><br><br>
      Name: <input type="text" name="name"><br>
     
      New Password: <input type="password" name="newpw"><br>
      Favorite Color: <input type="text" name="color"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
